<div class="wish-unit">
<div class="row">

<div class="span3">Picture Here</div>

<div class="span6">
  <h1 class="wish-title"><%= wish.title %></h1>
  <p class="wish-description"><%= wish.description %></p>
  <p class="wish-deal"><span class="label">Ideal Deal</span> <%= wish.deal %></p>
</div>

<div class="span3 wish-upvote">
	<h2><%= wish.threshold %></h2>
	<p>Upvotes Needed</p>
</div>


</div>
</div>