<%= form_for([@wish, @wish.upvotes.build]) do |f| %>

  <% if current_user and not current_user.id.nil? %>
  <%= hidden_field_tag(:user_id, current_user.id) %>
  <% end %>

  <div class="actions">
    <%= f.submit :'Upvote now!', class: "btn"  %>
  </div>
<% end %>
