<% provide(:title, 'Home') %>
<div class="hero-unit">
<h1>5Ception</h1>
<p>A reverse-Groupon for 5C Students and Claremont Village Businesses.</p>
<p>Looking for the <a href="wishes/">wishes</a>?</p>
<%= link_to "Sign-In/Up", new_user_session_path, class: "btn btn-large btn-primary" %>  
 
</div>