<%= form_for([@wish, @wish.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :comment, class: "new-comment" %>
  </div>
  <div class="actions">
    <%= f.submit :"Post comment", class: "btn"  %>
  </div>
<% end %>
