@import "bootstrap";

$pale-grey: #ddd;
$dark-grey: #333;
$pale-blue: #bdf;
$pale-green: #dfd;


.wish-unit {
	margin: 20px auto;
	width: 80%;
	padding: 30px;
	border-radius: 15px;
	background-color: $dark-grey;
	overflow: auto;
	h1 {
		color: white;
	}
}


.wish-pic, .wish-upvote, .wish-upvote h3 {
	color: white;
	font-style: italic;
}

.wish-pic {
	color: white;
	font-style: italic;
}

.wish-info {
}

.wish-upvote {
}

.wish-title {

}

.wish-description, .wish-deal {
	border-radius: 10px;
	padding: 15px;
	margin: 5px 0px;
}

.wish-description {
	background-color: $pale-blue;
	label {
		font-weight: bold;
	}
}

.wish-deal {
	background-color: $pale-green;
}