@import "bootstrap";

$pale-grey: #606060;

$dark-grey: #333;
$med-green: #8ec640;
$lt-green: #bfe973;




/* Buttons */
h1 {
	/*text-shadow: 0px 0px 3px $dark-grey;*/
	text-shadow: 0px 0px 3px #333;
}

.wish-unit, .comment-unit {
	margin: 20px auto;
	padding: 30px 0px;
	border-radius: 15px;
	/*background-color: $dark-grey;
	box-shadow: 0px 0px 3px $dark-grey;*/
	background-color: #333;
	box-shadow: 0px 0px 3px #333;
	overflow: auto;
	h1, h2, h3 {
		color: white;
	}
}


.wish-pic, .wish-upvote, .wish-upvote h2 {
	color: white;
	font-style: italic;
}


.wish-description, .wish-deal, .wish-done-deal, .comment, .label {
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0px 0px 3px white;
	margin: 5px 0px;
	background-color: white;
}

.wish-description {
	/*background-color: $lt-green;*/
    background-color: #bfe973;
	font-size: bigger;
	label {
		font-weight: bold;
	}
}

.wish-deal {
	/*background-color: $med-green;*/
	background-color: #8ec640;
	font-weight: bold;
}

.wish-donw-deal {
	background-color: yellow;
}

a:visited.btn {
    color: white;
}

.label {
       margin-right: 10px;
}

/* Comments */

.comment {
   margin: 20px;

}

.comment-unit {
   padding: 20px 80px;
}

.head-img {
   repeat-x: true;	 
}

.text {
	width: 300px;
	height: 150px;
}

.label {
	background-color: $med-green;
}